<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
         <link rel="icon" href="/img/weather.png">
        <!-- relative path -->
        <!-- <link rel="stylesheet" href="./css/styles.css"> -->
        <!-- absolute path: which starts from the public folder, since it is exposed -->
        <link rel="stylesheet" href="/css/styles.css">
       
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Nikhil. It used data from mapbox.com and darksky.net!</p>
            <!-- Loading the image -->
            <img src="/img/me.jpg" alt="" class="portrait">
        </div>
        
        {{>footer}}
    </body>

</html>