<!DOCTYPE html>

<html>

    <head>
        <title>Help</title>
         <link rel="icon" href="/img/weather.png">
        <!-- relative path -->
        <!-- <link rel="stylesheet" href="./css/styles.css"> -->
        <!-- absolute path: which starts from the public folder, since it is exposed -->
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

             <p>{{helpText}}</p>
        </div>
       
        {{>footer}}
    </body>

</html>